SECRET_KEY=sJZimI6qoQfg_Q2A0pJdqMPypavcsUCdc5yavlVJ4_A
 
SUPABASE_URL=https://gnlzwydlullpidtetikh.supabase.co
 
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdubHp3eWRsdWxscGlkdGV0aWtoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzczMDI2ODYsImV4cCI6MjA5Mjg3ODY4Nn0.cv9qglmMRODMlI-kR-1Dk8f9fZNP3T4Jq1x6Io7trWM
 
DATABASE_URL=postgresql://postgres.gnlzwydlullpidtetikh:GradAiTeam_2026@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres
 